langchain==0.3.6
langchain_community==0.3.4
mypy-extensions==1.0.0
numexpr==2.8.4
python-environ==0.4.54
pyodbc==4.0.39
python-dotenv==1.0.0
openai
huggingface-hub==0.17.3
langchain_experimental==0.0.20
flask==3.0.0
flask_cors==4.0.0
pyttsx3==2.90
wfastcgi==3.0.0
redis==5.0.1
google-generativeai
openpyxl==3.1.2
langchain-google-genai==2.0.4
langchain-openai==0.2.4
python-docx==0.8.11
pypdf==4.0.2
unstructured==0.10.2
networkx==3.1
langsmith
langchain-groq==0.2.0
gtts
ptvsd
pytz
pydub
pandas
langchain_text_splitters
markdown
flasgger
docx2txt
python-pptx
langgraph
# AI phát âm
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.0+cpu
torchaudio==2.0.0+cpu
soundfile==0.10.3.post1
omegaconf
epitran
audioread
dtwalign
eng_to_ipa
pickle-mixin
sqlalchemy
transformers
sentencepiece
ortools