<div id="grid_sql"></div>
<script>
$(document).ready(function () {
    var dataSource = new kendo.data.DataSource({
        transport: {
            type: "json",
            read: {
                url:"../api/get_training_sql",
            },
            create: {
                url: "../api/training",
                method: "POST",
                data: {
                    type: 'training_sql',
                }
            },
            update: {
                url: "../api/update",
                method: "POST",
                data: {
                    type: 'training_sql',
                }
            },
            destroy: {
                url: "../api/delete",
                method: "POST",
            }
        },
        pageSize: 20,
        batch: false,
        schema: {
            data: function(data) {
                if(data.message) {
                    $("#grid_sql").data("kendoGrid").dataSource.read()
                }
                return data
            },
            model: {
                id: "id",
                fields: {
                    id: { editable: false, nullable: true },
                    content: { validation: { required: true } },
                    answer: { validation: { required: true }  },
                    timecreated: { editable: false, nullable: true,hidden:true},
                }
            }
        }
    });
    var columns = [
            { 
                field: "content", 
                title: "Câu hỏi" 
            },
            { 
                field: "answer", 
                title: "Trả lời" 
            },
            { 
                field: "timecreated",  
                title: "Ngày tạo" 
            },
            { 
                command: ["edit", "destroy"], 
                title: " " 
            }
    ]
    $("#grid_sql").kendoGrid({
        dataSource: dataSource,
        height: 800,
        sortable: true,
        toolbar: ["create","search"],
        search: {
            fields: ["content","answer"]
        },
        pageSize: 20,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5,
            pageSize:20
        },
        columns: columns,
        editable: {
            mode: "popup",
            template: kendo.template($("#popup-editor-sql").html()),
            window: {
                animation: false,
                width: "900px",
                height: "600px",
            }
        }
    });    
})
</script>
<script id="popup-editor-sql" type="text/x-kendo-template">
    <div class="form-group">
        <label>Câu hỏi</label>
        <textarea class="form-control" data-bind="value:content" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label>Câu trả lời</label>
        <textarea class="form-control" data-bind="value:answer" rows="14"></textarea>
    </div>
</script>