<div id="grid"></div>
<script>
$(document).ready(function () {
    var columns = [
            { 
                field: "id", 
                title: "ID" },
            { 
                field: "question", 
                title: "Câu hỏi" 
            },
            { 
                field: "answer", 
                title: "Trả lời" 
            },
            { 
                field: "date_create", 
                title: "Ngày tạo" 
            },
            { 
                template: function(e) {
                    return e.action
                },
                field: "action", 
                title: "Chức năng" 
            }
    ]
    $("#grid").kendoGrid({
        dataSource: {
            type: "json",
            transport: {
                read: "../api/get_data"
            },
            pageSize: 20
        },
        height: 800,
        sortable: true,
        toolbar: ['search'],
        search: {
            fields: ["question","answer"]
        },
        pageSize: 20,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5,
            pageSize:20
        },
        columns: columns
    });    
    $(document).on('click','.delete',function() {
        let id = $(this).attr('id')
        $.ajax({
            url: '../api/delete/'+id,
            type: 'GET',
        }).then(function(response) {
            console.log(response)
            $("#grid").data("kendoGrid").dataSource.read()
        })
    })
})
</script>