<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/kendo.all.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts/glyphs/WebComponentsIcons.ttf') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/kendo.common.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/kendo.rtl.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/kendo.default.min.css') }}">
</head>
<body>
<style type="text/css">
    div.k-edit-form-container {
      width: auto;
      height: auto;
      padding: 15px;
    }
    .k-edit-buttons.k-state-default {
      background: white;
      bottom: -3em;
    }
    .form-control {
      width: -webkit-fill-available !important;
    }
    table tbody td {
      width: max-content;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
</style>
<div class="container-fluid mt-5"> <!-- Changed from container to container-fluid to expand the width -->
  <div class="text-center mb-4">
    <h1 class="bd-title" id="content">Danh Sách Dữ Liệu Training</h1>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" onclick="changeTab(event, 'sql')">Câu Truy Vấn Đã Train</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" onclick="changeTab(event, 'ddl')">Bảng Dữ Liệu Đã Train</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="sql" class="tab-pane fade show active">
      {% include 'table_training_sql.html' %}
    </div>
    <div id="ddl" class="tab-pane fade">
      {% include 'table_training_ddl.html' %}
    </div>
  </div>
</div>

<script>
  function changeTab(event, tabId) {
    // Prevent default anchor click behavior
    event.preventDefault();
    
    // Remove active class from all tabs
    const tabs = document.querySelectorAll('.nav-link');
    tabs.forEach(tab => {
      tab.classList.remove('active');
    });

    // Hide all tab content
    const tabContents = document.querySelectorAll('.tab-pane');
    tabContents.forEach(content => {
      content.classList.remove('show', 'active');
    });

    // Add active class to the clicked tab
    event.currentTarget.classList.add('active');

    // Show the selected tab content
    document.getElementById(tabId).classList.add('show', 'active');
  }
</script>

</body>
</html>
