<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static',filename='js/kendo.all.min.js') }}"></script> 
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet"}>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.common.min.css">
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.rtl.min.css">
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.default.min.css">
</head>
<body>
<style type="text/css">
    div.k-edit-form-container {
      width: auto;
      height: auto;
      padding: 15px;
    }
    .k-edit-buttons.k-state-default {
      background: white;
      bottom: -3em;
    }
    .form-control {
      width: -webkit-fill-available !important;
    }
    table tbody td {
      width: max-content;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
</style>
<div class="pl-5 pr-5 mt-5">
  <div>
    <h1 class="bd-title" id="content" style="text-align: center;">DS Dữ Liệu Training</h1>
  </div>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#sql">Câu truy vấn đã train</a></li>
    <li><a data-toggle="tab" href="#ddl">Bảng dữ liệu đã train</a></li>
    <!-- <li><a data-toggle="tab" href="#doc">Tài liệu đã train</a></li> -->
    <li><a data-toggle="tab" href="#import">Import dữ liệu</a></li>
  </ul>

  <div class="tab-content">
    <div id="sql" class="tab-pane fade in active">
      {% include 'table_training_sql.html' %}
    </div>
    <div id="ddl" class="tab-pane fade">
      {% include 'table_training_ddl.html' %}
    </div>
    <!-- <div id="doc" class="tab-pane fade">
      {% include 'table_training_doc.html' %}
    </div> -->
    <div id="import" class="tab-pane fade">
      {% include 'import_training.html' %}
    </div>
  </div>
</div>

</body>
</html>
