<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static',filename='js/kendo.all.min.js') }}"></script> 
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet"}>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.common.min.css">
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.rtl.min.css">
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.default.min.css">
</head>
<body>
<style type="text/css">
    div.k-edit-form-container {
      width: auto;
      height: auto;
      padding: 15px;
    }
    .k-edit-buttons.k-state-default {
      background: white;
      bottom: -3em;
    }
    .form-control {
      width: -webkit-fill-available !important;
    }
    table tbody td {
      width: max-content;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
</style>
<div class="pl-5 pr-5 mt-5">
    <input id="dropdown_index" class="mb-3" style="width: 250px;">
    <div id="grid"></div>
</div>
</div>

</body>
</html>
<script>
    $(document).ready(function () {
        // Xử lý kendo dropdown index
        $("#dropdown_index").kendoDropDownList({
			filter: "contains",
			optionLabel: 'Chọn DB theo dự án',
			dataTextField: "text",
			dataValueField: "value",
            change: function(e) {
                kendoGrid(this.value())
            },
			dataSource: new kendo.data.DataSource({
                transport: {
                    type: "json",
                    read: {
                        url:"../api/read_index"
                    },
                }
            })
        });
        // Xử lý kendo grid
        function kendoGrid(index) {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    type: "json",
                    read: {
                        url:"../api/read?type={{data.type}}&index="+index,
                    },
                    destroy: {
                        url: "../api/delete?type={{data.type}}",
                        method: "POST",
                    },
                    update: {
                        url: "../api/update?type={{data.type}}",
                        method: "POST",
                    },
                },
                pageSize: 20,
                batch: false,
                schema: {
                    data: function(data) {
                        if(data.message) {
                            $("#grid").data("kendoGrid").dataSource.read()
                        }
                        return data
                    },
                    model: {
                        id: "id",
                        fields: {
                            id: { editable: false, nullable: true },
                        }
                    }
                }
            });
            var columns = [
                {% for item in data.columns %}
                {
                    field:"{{ item }}",
                    title:"{{ item }}",
                },
                {% endfor %}
            ];
            columns.push({ 
                    command: ["edit", "destroy"], 
                    title: "Action" 
                })
            if($('#grid').data('kendoGrid')) {
                $('#grid').kendoGrid('destroy').empty();
            }
            $("#grid").kendoGrid({
                dataSource: dataSource,
                height: 800,
                sortable: true,
                toolbar: ["create","search"],
                search: {
                    fields: ["content","title","coursemoduleid","courseid"]
                },
                pageSize: 20,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                    pageSize:20
                },
                editable: {
                    mode: "popup",
                    template: kendo.template($("#popup-editor").html()),
                    window: {
                        animation: false,
                        width: "900px",
                        height: "600px",
                    }
                },
                columns: columns,
            });
        }
    })
</script>
<script id="popup-editor" type="text/x-kendo-template">
    {% for item in data.columns %}
        <div class="form-group">
        <label>{{ item }}</label>
        {% if item == "content" %}
            <textarea class="form-control" data-bind="value:{{ item }}" rows="12"></textarea>
        {% else %}
            <textarea class="form-control" data-bind="value:{{ item }}" rows="4"></textarea>
        {% endif %}
        </div>
    {% endfor %}
</script>